body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #444444;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
}

p { 
    margin: 0;
}

.heading {
    border-bottom: 2px solid #bababa;
    display: flex;
    align-items: center;

    i {
        font-size: 30px;
        align-items: center;
        margin: 0 .5em;
    }
}

input {
    display: flex;
    align-items: stretch;
    padding: 0;
    width: 20px;
    border: none;
    background: inherit;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    .container {
        border: 2px solid #bababa;
    }
    
    .shop {
        flex: 1.5;

        .shop-items {
            padding: 1em;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 1em;
            align-items: start;
        }

        .shop-item {
            border: 1px solid #575757;
            height: auto;
        }

        .shoping-details {
            border-top: 1px solid #575757;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            
            li {
                border-right: 1px solid #575757;
                font-size: 13px;
                display: flex;
            }

            :last-child {
                border-right: none;
            }

            .price {
                flex: 2;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .quantity,
            .add-to-cart {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                .ph-shopping-cart-bold {
                    font-size: 28px;
                    color: #ffff;
                }
            }

            .add-to-cart {
                background-color: #777777;
            }

            .add-remove {
                flex: .5;
                display: flex;
                flex-direction: column;

                :last-child {
                    border-top: 1px solid #575757;
                }
            }
        }
    }

    .cart {
        flex: 1;
        display: flex;
        flex-direction: column;

        .heading {
            justify-content: flex-end;

            h2 {
                margin-right: .5em;;
            }
        }

        .cart-item {
            margin: 1em;
            border: 1px solid #575757;
            // background-color: red;

            h3 {
                padding-left: 1em;
                margin: 0;
            }

            .added-item {
                padding: .5em 1em 1em 1em;
                display: flex;
                justify-content: space-between;
                gap: 1em;

                .item-details {
                    border: 1px solid #575757;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex: 1;

                    .add-remove {
                        display: flex;
                        align-items: stretch;
                        flex: .1;
                        flex-direction: column;
                        border-left: 1px solid #575757;
        
                        :last-child {
                            border-top: 1px solid #575757;
                        }
                    }
                }

                .remove-item {
                    color: #EF4F0B;
                    font-size: 1.5rem;
                    border: 1px solid #575757;
                    display: flex;
                    align-items: center;
                }
            }

            .subtotal {
                border-top: 1px solid #575757;
                padding: .3em 0;
                text-align: center;
            }

        }
    }

    .total {
        display: flex;
        justify-content: center;
        padding: .5em 0;
        outline: 2px solid #777777;
        background-color: #dddddd;
        font-weight: 700;
    }

    // .items {
    //     height: auto;
    // }
}


@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }
}