body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #444444;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
}

h4, h5 {
  font-weight: 500;
  margin: 0;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 11px;
}

p {
  margin: 0;
  padding-left: 0.5em;
  font-size: 10px;
}

.heading {
  border-bottom: 2px solid #bababa;
  display: flex;
  align-items: center;
}
.heading i {
  font-size: 30px;
  align-items: center;
  margin: 0 0.5em;
}

input {
  display: flex;
  text-align: center;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: inherit;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.wrapper {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.wrapper .container {
  border: 2px solid #bababa;
}
.wrapper .shop {
  flex: 1.5;
}
.wrapper .shop .shop-items {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
}
.wrapper .shop .shop-item {
  border: 1px solid #575757;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
.wrapper .shop .shop-item .shop-item-hero {
  display: flex;
  flex-direction: row;
  height: 50%;
}
.wrapper .shop .shop-item .shop-item-hero .hero-headline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wrapper .shop .shop-item .shop-item-hero img {
  width: 50%;
  height: auto;
  margin-right: 0.2em;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .shop .shoping-details {
  border-top: 1px solid #575757;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.wrapper .shop .shoping-details li {
  border-right: 1px solid #575757;
  font-size: 13px;
  display: flex;
}
.wrapper .shop .shoping-details :last-child {
  border-right: none;
}
.wrapper .shop .shoping-details .price {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .shop .shoping-details .quantity,
.wrapper .shop .shoping-details .add-to-cart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .shop .shoping-details .quantity .ph-shopping-cart-bold,
.wrapper .shop .shoping-details .add-to-cart .ph-shopping-cart-bold {
  font-size: 28px;
  color: white;
}
.wrapper .shop .shoping-details .add-to-cart {
  background-color: #777777;
}
.wrapper .shop .shoping-details .add-remove {
  flex: 0.5;
  display: flex;
  flex-direction: column;
}
.wrapper .shop .shoping-details .add-remove :last-child {
  border-top: 1px solid #575757;
}
.wrapper .cart {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 70vh;
}
.wrapper .cart .heading {
  justify-content: flex-end;
}
.wrapper .cart .heading h2 {
  margin-right: 0.5em;
}
.wrapper .cart .cart-items {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.wrapper .cart .cart-items .cart-item {
  margin: 1em;
  border: 1px solid #575757;
  font-weight: 400;
  font-size: 12px;
}
.wrapper .cart .cart-items .cart-item h3 {
  padding-left: 1em;
  margin: 0;
}
.wrapper .cart .cart-items .cart-item .added-item {
  padding: 0.5em 1em 0.5em 1em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}
.wrapper .cart .cart-items .cart-item .added-item .item-details {
  border: 1px solid #575757;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}
.wrapper .cart .cart-items .cart-item .added-item .item-details .item {
  flex: 2;
}
.wrapper .cart .cart-items .cart-item .added-item .item-details .price {
  flex: 1;
}
.wrapper .cart .cart-items .cart-item .added-item .item-details .quantity {
  flex: 0.5;
}
.wrapper .cart .cart-items .cart-item .added-item .item-details .add-remove {
  display: flex;
  align-items: stretch;
  flex: 0.25;
  flex-direction: column;
  border-left: 1px solid #575757;
}
.wrapper .cart .cart-items .cart-item .added-item .item-details .add-remove :last-child {
  border-top: 1px solid #575757;
}
.wrapper .cart .cart-items .cart-item .added-item .remove-item {
  color: #EF4F0B;
  font-size: 1.5rem;
  border: 1px solid #575757;
  display: flex;
  align-items: center;
}
.wrapper .cart .cart-items .cart-item .subtotal {
  border-top: 1px solid #575757;
  padding: 0.3em 0;
  text-align: center;
}
.wrapper .cart .total {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  outline: 2px solid #777777;
  background-color: #dddddd;
}
.wrapper .cart .total p {
  font-weight: 700;
  font-size: 14px;
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 5em auto;
  }
}/*# sourceMappingURL=style.css.map */